%%%-----------------------------------------------------------------------------
%%% %CopyrightBegin%
%%%
%%% SPDX-License-Identifier: Apache-2.0
%%%
%%% Copyright (c) Meta Platforms, Inc. and affiliates.
%%% Copyright (c) WhatsApp LLC
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%
%%% %CopyrightEnd%
%%%-----------------------------------------------------------------------------
%%% % @format
%%% % @oncall whatsapp_clr
{erl_opts, [debug_info]}.

{deps, [
    {eqwalizer_support,
        {git_subdir, "https://github.com/WhatsApp/eqwalizer.git", {branch, "main"}, "eqwalizer_support"}}
]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [markdown, markdown_test]}]}.

{project_plugins, [
    {eqwalizer_rebar3, {git_subdir, "https://github.com/WhatsApp/eqwalizer.git", {branch, "main"}, "eqwalizer_rebar3"}}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
        unknown
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    % exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
