%%% % @format
%%%-----------------------------------------------------------------------------
%%% Copyright (c) Meta Platforms, Inc. and affiliates.
%%% Copyright (c) WhatsApp LLC
%%%
%%% This source code is licensed under the MIT license found in the
%%% LICENSE.md file in the root directory of this source tree.
%%%-----------------------------------------------------------------------------
-module(markdown_~J< test.suite.name >._SUITE).
-moduledoc """

""".
-moduledoc #{author => ["Andrew Bennett <potatosaladx@meta.com>"]}.
-moduledoc #{created => "~J< test.created >.", modified => "~J< test.modified >."}.
-moduledoc #{copyright => "Meta Platforms, Inc. and affiliates."}.
-compile(warn_missing_spec_all).
-oncall("whatsapp_clr").

-include_lib("markdown/include/markdown_mdast.hrl").
-include_lib("markdown/include/markdown_util.hrl").
-include_lib("stdlib/include/assert.hrl").

-behaviour(ct_suite).

%% ct_suite callbacks
-export([
    all/0,
    groups/0,
    init_per_suite/1,
    end_per_suite/1,
    init_per_group/2,
    end_per_group/2
]).

%% Test Cases
-export([
~J{ set test_case_joiner = joiner(",") }.
~J{ for test_case in test.case_list }.
    ~J< test_case_joiner() >. ~J< test_case.name >./1
~J{ endfor }.
]).

~J{ if test.has_shared }.
%% Macros
~J{ for shared in test.shared_list }.
~J{ if shared.kind == "shared_options" }.
-define(~J< shared.name >., markdown_options:new(~J< ctx.erlang_map(shared.options.as_dict) >.)).
~J{ else }.
-define(~J< shared.name >., markdown_parse_options:new(~J< ctx.erlang_map(shared.parse_options.as_dict) >.)).
~J{ endif }.
~J{ endfor }.
~J{ endif }.

%%%=============================================================================
%%% ct_suite callbacks
%%%=============================================================================

-spec all() -> markdown_test:all().
all() ->
    [
        {group, static}
    ].

-spec groups() -> markdown_test:groups().
groups() ->
    [
        {static, [parallel], [
~J{ set test_case_joiner = joiner(",") }.
~J{ for test_case in test.case_list }.
        ~J< test_case_joiner() >. ~J< test_case.name >.
~J{ endfor }.
        ]}
    ].

-spec init_per_suite(Config :: ct_suite:ct_config()) -> markdown_test:init_per_suite().
init_per_suite(Config) ->
    Config.

-spec end_per_suite(Config :: ct_suite:ct_config()) -> markdown_test:end_per_suite().
end_per_suite(_Config) ->
    ok.

-spec init_per_group(GroupName :: ct_suite:ct_groupname(), Config :: ct_suite:ct_config()) -> markdown_test:init_per_group().
init_per_group(_Group, Config) ->
    Config.

-spec end_per_group(GroupName :: ct_suite:ct_groupname(), Config :: ct_suite:ct_config()) -> markdown_test:end_per_group().
end_per_group(_Group, _Config) ->
    ok.

%%%=============================================================================
%%% Test Cases
%%%=============================================================================

~J{ for test_case in test.case_list }.
-spec ~J< test_case.name >.(Config) -> markdown_test:testcase() when
    Config :: ct_suite:ct_config().
~J< test_case.name >.(_Config) ->
~J{ if test_case.comment }.
    ~J< ctx.erlang_comment(test_case.comment) >.
~J{ endif }.
~J{ if test_case.kind == "to_html_with_options" }.
    ?assertMatch(
        {ok, <<"~J< ctx.escape_string_for_erlang(test_case.output) >."/utf8>>},
        markdown:to_html_with_options(<<"~J< ctx.escape_string_for_erlang(test_case.input) >."/utf8>>, ~J< test_case.options_for_erlang >.),
        "~J< ctx.escape_string_for_erlang(test_case.message) >."
    ),
~J{ elif test_case.kind == "to_mdast" }.
    ?assertEqual(
        {ok, ~J< test_case.output >.},
        markdown:to_mdast(<<"~J< ctx.escape_string_for_erlang(test_case.input) >."/utf8>>, ~J< test_case.parse_options_for_erlang >.),
        "~J< ctx.escape_string_for_erlang(test_case.message) >."
    ),
~J{ else }.
    ?assertMatch(
        {ok, <<"~J< ctx.escape_string_for_erlang(test_case.output) >."/utf8>>},
        markdown:to_html(<<"~J< ctx.escape_string_for_erlang(test_case.input) >."/utf8>>),
        "~J< ctx.escape_string_for_erlang(test_case.message) >."
    ),
~J{ endif }.
    ok.

~J{ endfor }.
