%%%-----------------------------------------------------------------------------
%%% Copyright (c) Meta Platforms, Inc. and affiliates.
%%% Copyright (c) WhatsApp LLC
%%%
%%% This source code is licensed under the MIT license found in the
%%% LICENSE.md file in the root directory of this source tree.
%%%
%%% @author Andrew Bennett <potatosaladx@meta.com>
%%% @copyright (c) Meta Platforms, Inc. and affiliates.
%%% @doc
%%%
%%% @end
%%% Created :  04 Mar 2025 by Andrew Bennett <potatosaladx@meta.com>
%%%-----------------------------------------------------------------------------
%%% % @format
%% @oncall whatsapp_clr
-ifndef(MARKDOWN_RESOLVE_HRL).
-define(MARKDOWN_RESOLVE_HRL, 1).

%% Macros
-define(is_markdown_resolve_name(X),
(~J{ set name_macro_continue = joiner(" orelse ") }.
~J{ for name in ctx.resolve.name_list }.
    ~J< name_macro_continue() >.(X) =:= ~J< name.key >.
~J{ endfor }.)).

-endif.
